* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    font-weight: bold;
    
    
  }
  h1{
    font-weight: bold;
    text-decoration: underline;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #990000;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 200%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color: #990000;
    font-weight: bold;
  }
  
  .nav li:hover {
    background-color: #990000;
    color:black;
    font-weight: bold;
  }
